.navbar {
    margin-left: 24%;
    max-width: 900px;
    margin-bottom: 0px;
    display: grid;
    gap: 5vh;
    grid-template-columns: 150px auto 290px;
    grid-template-areas: 
    "L UL N"
}
.navbar  ul{
    list-style: none;
    color: white;
    height: 50px;
}
.navbar a {
    text-decoration: none;
    font-weight: 400;
}
.navbar li {
    display: inline-block;
    padding-right: 15px;
}
.navbar {
    padding: 0;
    text-align: center;
    
}
.navbar button {
    display: inline-block;
}
.navbar_input{
    grid-area: UL;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(192, 201, 201);
    border-style: none;

    border-width: 1px;
    height: 30px;
    width: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.navbar_input:focus{
    border: none;
    border-width: 1px;
    width: 350px;
    font-size: medium;
    color: rgb(74, 73, 73);
}
.logo{

    grid-area: L;
    height : 40px;
    margin-top: 20px;
    display: inline;
}
.navigation{
    grid-area: N;
}
.navigation_list{
    height: 25px;
    display: inline-block;
    margin-top: 27px;

}
.navigation img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
